<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://media.nigdit.men/">
    <meta property="og:title" content="Nigdit Media Server">
    <meta property="og:description" content="What are you looking for?">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/990131116910465024/1146431040336969868/Screenshot_20230823_214153_YouTube.jpg">

    <title>Media storage thingy</title>
</head>
<body>
    hello stranger
</body>
</html>